*{
border: 1px red solid;
}

body {
    margin: 0;
}
/* Header Styling*/
header{
   display: flex;
   justify-content: space-between;
   position:-webkit-sticky;
   position: sticky;
   top: 0;
   height: 60px;
   text-align: center;
   z-index: 9999;
   margin: 0 10px 200px 365px;
   background-color: darkblue;
   resize: both;
   font-size: x-large;
}

header h1{
    margin: 0;
}

header h1 a {
    color: black;
    text-decoration:none
}

header nav{
    margin: 25px 25px 5px 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-bottom: 0;
    
}
header nav ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 50px 60px;
}

header nav ul li a{
    color:gold;
    text-decoration:none
}

.start-header ul{
        text-align: right;
    }
/* end header styling*/
.info{
    border-top: 5px solid black;
    height: 1000px;
    width: auto;
    margin-left: 365px;
    margin-top: 77px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Adding Css to About me*/
.info p {
    font-size: large;
    text-align: center;
    align-items: center;
    width:500px;
    margin-top: 25%;

}
.Cbracewell{
    width: 400px;
    height: 400px;
    margin: 150px 100px 150px 100px;

}

.heading-label {
    border-bottom: 5px solid black;
    text-align: center;
    color:gold;
    z-index: 2;
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 1000px;
    border-top: 5px solid black;
    border-right: 5px dashed black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 50px;
}
/* End About me styling*/

