*{
    
}
body {
    margin: 0;
}
/* Header Styling*/
header{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position:-webkit-sticky;
   position: sticky;
   top: 0;
   height: 100px;
   text-align: center;
   z-index: 9999;
   margin: 50px;
   background-color: rgba(9, 9, 243, 0.6);
}

header h1{
    margin: 0;
}

header h1 a {
    color: black;
    text-decoration:none
}

header nav{
    margin: 25px 25px 5px 25px;
margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    
}
header nav ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px 20px;
}

header nav ul li a{
    color:gold;
    text-decoration:none
}
.start-header {
    resize: both;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
    }
.start-header ul{
        text-align: right;
    }
/* end header styling*/

/* Adding Css to About me*/

.bio {
    padding: 10px 10px;
}


section p {
    font-size: large;
    margin: 5%;
    text-align: center;

}

.heading-label {
    border-bottom: 5px solid black;
    margin: 5%;
    text-align: center;
    color:gold;
    z-index: 2;
    font-size:xx-large;
}

